{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "react-app",
    "airbnb-typescript",
    "plugin:jsx-a11y/strict",
    "plugin:prettier/recommended"
  ],
  "plugins": [ "security", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "no-console": "error",
    "func-names": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "consistent-return": "off",
    "security/detect-object-injection": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
